<h1>SDN Community Forums</h1>

<div class="forum_wrapper">
	<table class="forum_table">
	  

	<% @forums.each do |forum| %>
	  <tr class="forum_def_row">
		<td><h4><%= link_to forum.name, forum %></h4><h5><%= forum.description %></h5></td>
		<td></td>
		<td></td>
		<td></td>
	  </tr>
	  <tr class="forum_norm_row">
		<td>Name</td>
		<td>Last Post</td>
		<td>Threads</td>
		<td>Posts</td>
	  </tr>
	  
	  <% forum.categories.each do |cat| %>
		<tr class="forum_norm_row">
			<td><h4><%= link_to cat.name, cat %></h4><h5><%= cat.description %></h5></td>
			<td>none</td>
			<td><%= cat.topics.count %></td>
			<td>
			<% post_count = 0 %>
			<% cat.topics.each do |top| %>
				<% post_count = post_count + top.forumposts.count %>
			<% end %>
			<%= post_count %>
			</td>
		</tr>
	  <% end %>
	  
	<% end %>
	</table>

	<br />

</div>
<%= forum_navigation_bar %>