<div class="forum_wrapper">

<h1><%= link_to @topic.title, @topic %> in <%= link_to @category.name, @category %></h1>

<div class="forum_extra_nav"><%= link_to "New Post", new_forumpost_path(:topic => @topic.id) %></div>
<div class="digg_pagination">
    <%= will_paginate @forumposts %>
</div>

	<div class="forum_spacer"></div>
		<div class="forum_spacer"></div>
		
	<% i = 1 %>
	<% @forumposts.each do |fpost| %>
		
		<div class="fpost_date">
			<span class="date_to_left"><%= fpost.created_at.strftime("%B %d %Y %I:%M %p") %></span>
			<span class="fpost_number">#<%= fpost.post_number.to_s %></span>
		</div>

		<div class="fpost_content" style=<%= user_post_styles(fpost.user) %>>
			<%= safe_content(fpost.content).html_safe %>
			<br />---<br />
			<%= safer_content(fpost.user.signature).html_safe %>
		</div>

		<% if i.even? %>
			<div class="fpost_user_right">
				<div class="user_arrow" style=<%= user_post_styles(fpost.user) %>>

				</div>
				<div class="user_photo">
					<%= image_tag avatar_url(fpost.user) %>
				</div>
				<div class="fpost_user">
					<span class="fpost_username"><%= link_to fpost.user.username, fpost.user %></span><br />
					<div class="online_box"></div> Online
				</div>
			</div>
		<% else %>
			<div class="fpost_user_left">
				<div class="user_arrow" style=<%= user_post_styles(fpost.user) %>>
					
				</div>
				<div class="user_photo">
					<%= image_tag avatar_url(fpost.user) %>
				</div>
				<div class="fpost_user">
					<span class="fpost_username"><%= link_to fpost.user.username, fpost.user %></span><br />
					<div class="online_box"></div> Online
				</div>
			</div>
		<% end %>

		<!--<div class="fpost_header">
			<h2><%= link_to fpost.user.username, fpost.user %></h2>
			<div class="col2">
				Member since: <%= fpost.user.created_at.strftime("%B %d %Y") %><br/>
				Posts: <%= fpost.user.forumposts.count %>
			</div>
			<h3><%= fpost.created_at.strftime("%B %d %Y %I:%M %p") %></h3>
		</div>
		
		<div class="fpost_content">
			<%= safe_content(fpost.content).html_safe %>
			<% if fpost.user.signature != "" %>
				<hr />
				<%= safer_content(fpost.user.signature).html_safe %>
			<% end %>
		</div>
		
		 <% if fpost.user == current_user || current_user.admin %>
			<ul class="fpost_tools">
				<li><%= link_to "Post", fpost %></li>
				<li><%= link_to "Edit", edit_forumpost_path(fpost) %></li>
				<li><%= link_to "Delete", fpost, confirm: 'Are you sure?', method: :delete %></li>
			</ul>
		<% end %> -->
		
		<div class="forum_spacer"></div>

		<% i = i + 1 %>
	<% end %>
	
<div class="forum_extra_nav"><%= link_to "New Post", new_forumpost_path(:topic => @topic.id) %></div>
<div class="digg_pagination">
    <%= will_paginate @forumposts, :container => false %>
</div>
<div class="forum_spacer"></div>

</div>
<%= forum_navigation_bar %>
