<h1><%= @user.username %></h1>

<%= user_navigation_bar %>
<div class="user_wrapper">
	
	<div class="userpage_header">
		<div class="userpage_gravatar">
			<%= image_tag avatar_url(@user) %>
		</div>

		<div class="userpage_name">
			<h1><%= @user.username %> <% if @user.show_name || is_admin? %><span class="userpage_realname">(<%= @user.first_name + ' ' + @user.last_name %>)</span><% end %></h1>
		</div>
	</div>
	<hr />

	<% if @user.admin %>
		<strong>Administrator</strong><br />
	<% end %>
	<% if is_admin? %>
		<strong>Userid:</strong> <%= @user.userid %><br />
	<% end %>
	<strong>Real Name:</strong> <% if @user.show_name || is_admin? %><%= @user.first_name + " " + @user.last_name %><% else %>hidden<% end %><br />
	<strong>Email:</strong> <% if @user.show_email || is_admin? %><%= @user.email %><% else %>hidden<% end %><br />
	<strong>Member Since:</strong> <%= @user.created_at.strftime("%B %d, %Y") %><br />
	<!-- <% if @user.birthday %>
	<strong>Birthday:</strong> <%= @user.birthday.strftime("%B %d") %><% if @user.show_year %><%= @user.birthday.strftime(", %Y") %><% end %><br />
	<% end %> -->
	<br />

	<strong>Bio:</strong> <%= @user.bio %><br /><br />
	<strong>Signature:</strong> <%= safer_content(@user.signature) %>

</div>
