<div class="home_first_column">
	<div class="newspost_wrapper">
		<div class="newspost_nav_block">
			<%= newspost_navigation_bar %>
			<div class="digg_pagination">
				<%= will_paginate @newses, :page_links => false %>
			</div>
		</div>

		<% @newses.each do |np| %>
		
			<div class="news_header">
				<div class="news_header_text">
					<h2><%= link_to np.title, newspost_path(np) %></h2>
					<h3>by <%= link_to np.user.username, user_path(np.user) %> on <%= np.created_at.strftime("%B %d, %Y") %> | <%= link_to np.comments.count.to_s + " comments", newspost_path(np) %></h3>
				</div>
				<div class="news_header_gravatar">
					<%= image_tag avatar_url(np.user) %>
				</div>
			</div>
			
			<% if np.content.length > 1000 %>
				<%= safe_content(np.content).html_safe[0..999] + '...' %>
				<%= link_to "Read More", np %>
			<% else %>
				<%= safe_content(np.content).html_safe %>
			<% end %>

			<div class="news_tags">
				<ul class="news_tag_list">
				<% np.tags.each do |t| %>

					<li><%= link_to t.name, root_path(:tag => t.name) %></li>

				<% end %>
				</ul>
			</div>

		<% end %>

		<%= newspost_navigation_bar %>
		<div class="digg_pagination">
		<%= will_paginate @newses, :page_links => false %>
		</div>
	</div>
	
</div>

<div class="home_second_column">
	<div class="newspost_search">
		<%= form_tag(root_path, :method => "get") do %>
			<%= text_field_tag(:search, params[:search]) %>
			<%= submit_tag("Search") %>
		<% end %>
	</div>
</div>